* {
   margin: 0;
   padding: 0;
   list-style: none;
   outline: none;
   font-family: "Roboto", -apple-system, system-ui, sans-serif;
   font-weight: 400;
   font-size: 14px;
   box-sizing: border-box;
}

body {
   background-color: #fff;
}

.todo {
   width: 100%;
   max-width: 750px;
   margin: 5% auto;
   display: flex;
   height: 530px;
   box-shadow: 3px 4px 20px #f3f3f3;
   border-radius: 30px;
   border: 1px solid silver;
   &__sidebar {
      background-color: #f4f6f8;
      width: 200px;
      height: 100%;
      border-right: 1px solid #f1f1f1;
      border-radius: 30px 0 0 30px;
      padding: 55px 15px;
   }
   &__tasks {
      background-color: #ffffff;
      flex: 1;
      height: 100%;
      border-radius: 0 30px 30px 0;
      padding: 60px;
   }
}


.button {
   width: 135px;
   height: 32px;
   background: #4dd599;
   border: 0;
   border-radius: 4px;
   color: #fff;
   cursor: pointer;
   transition: transform linear 0.1s, border-radius linear 0.1s;
   &:hover {
      transform: scale(1.1);
      border-radius: 30px;
   }
   &:active {
      transform: scale(1);
   }
}

.field {
   /* Rectangle 6 */
   width: 100%;
   height: 32px;
   padding: 8px 12px;
   background: #ffffff;
   border: 1px solid #efefef;
   border-radius: 4px;
   &:focus {
      border-color: #4dd599;
   }
}
/* Rectangle 3 */
